.Inventories-container{
    .header{
        display: flex;
        flex-wrap: wrap;
        
    }
    .AddInventory-container{
        margin: auto 0 ;
        margin-left: auto;
        height: 50px;
        
    }
    .inventories-container{
        display: grid;  
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    
    @media (max-width: 770px){
        .inventories-container{
            grid-template-columns: repeat(2, 1fr);
        }
        
    }
    @media (max-width: 500px){
        .inventories-container{
            grid-template-columns: repeat(1, 1fr);
        }
        .display-4{
            margin: 30px auto;
        }
        .btn{
            margin: auto ;
            
        }
        .AddInventory-container{
            margin: auto ;
            margin-bottom: 50px;
            
        }
    }

}
.modal-content{
    max-width:300px ;
    margin: auto;
    margin-top: 100px
}