.navbar-expand-sm .navbar-collapse{
    flex-direction: row-reverse !important;
}

.header-container {
    border-bottom: 1px solid #ffc107!important;
   
}
.navbar-light .navbar-nav .nav-link{
    color: gray!important
}
.displayName{
    color: dark;
}