.Areas-container{
    .item{
        height: 50px;
    }
    .header{
        display: flex;
        flex-wrap: wrap;
        
    }
    .AddArea-container{
        margin: auto 0 ;
        margin-left: auto;
        height: 50px;
        
    }
    .areas-container{
        display: grid;  
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    
    @media (max-width: 770px){
        .areas-container{
            grid-template-columns: repeat(2, 1fr);
        }
        
    }
    @media (max-width: 500px){
        .areas-container{
            grid-template-columns: repeat(1, 1fr);
        }
        .display-4{
            margin: 30px auto;
        }
        .btn{
            margin: auto ;
            
        }
        .AddArea-container{
            margin: auto ;
            margin-bottom: 50px;
            
        }
    }

}
.modal-content{
    max-width:300px ;
    margin: auto;
    margin-top: 100px
}
.button-add{
    display:flex;
    justify-content: center;
    font-size: 38px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 0;
    margin-left: auto;
    top:10px;
    .button-content{
        margin: -33px;
        color: white;
    }
    
}

