.Areas-container{
    .item{
        height: 50px;
    }
    .header{
        display: flex;
        flex-wrap: wrap;
        
    }
    .AddArea-container{
        margin: auto 0 ;
        margin-left: auto;
        height: 50px;
        
    }
    .areas-container{
        display: grid;  
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    
    @media (max-width: 770px){
        .areas-container{
            grid-template-columns: repeat(2, 1fr);
        }
        
    }
    @media (max-width: 500px){
        .areas-container{
            grid-template-columns: repeat(1, 1fr);
        }
        .display-4{
            margin: 30px auto;
        }
        .btn{
            margin: auto ;
            
        }
        .AddArea-container{
            margin: auto ;
            margin-bottom: 50px;
            
        }
    }

}
.dropdown-menu-Area{
    background-color:rgba(194, 194, 201, 0.35)  !important;
    top:5px !important;;
    /* background-clip: padding-box; */
    border: 0px solid rgba(0,0,0,.15);
    
    .btn{
        margin: 10px auto;


    }
}

.actionButtons{

}
.AddItem-container{
    background-color: red;
}
.modal-content{
    max-width:300px ;
    margin: auto;
    margin-top: 100px
}
    


